<aside>
	<div class="panel radius">
		<h3>Music Journey</h3>
		<p>
			I began to study Piano when I was 4 years old, and I can am an experienced Saxophone player with the certificate of level 10 of China Central Conservatory of Music.
			 I also studied Guitar myself for more than 5 years.
		</p>
	</div>
	<div class="border-dotted radius b30">
		<img src="https://ass5bucket.s3.amazonaws.com/portrait.jpg" alt="portrait">
		<p class="text-left">
			Head of Saxophone Section at </br> XJTLU Symphony Orchestra from  <em>2018-2022</em>
		</p>
	</div>
	<div class="panel radius">
		<h3>Highlights</h3>
		<img src="https://ass5bucket.s3.amazonaws.com/hilights1.jpg" alt="Sax1">
		<center> >XJTLU - TIMES 15 Concert< Saxophone Quartet</center> 
		<img src="https://ass5bucket.s3.amazonaws.com/highlight3.jpg" alt="highlight3">
		<center> >Hill Live House - Band Emotion< </br> Sax Soloist</center>
	</div>
	<div class="border-dotted radius b30">
		<img src="https://ass5bucket.s3.amazonaws.com/Sax1.jpg" alt="Sax1">
		<p class="text-left">
			I continued my music journey to </br> BU Concert Band since <em>2022</em>
		</p>
	</div>
	<img class="b30" src="" alt="">
</aside>